.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  margin-bottom: 2.0rem;
}

.donut-chart {
  width: 9.0rem; 
  height: 9.0rem;
  border-radius: 50%;
  position: relative;
}

.donut-hole {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.donut-hole .data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.legend-container {
  width: 100%;
  padding-top: 2.0rem;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
  font-size: 0.9rem;
}

.legend-color-box {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .8rem;
  border-radius: .2rem;
}

.legend-name {
  flex-grow: 1;
  color: #555;
}

.legend-percentage {
  font-weight: bold;
  color: #333;
}

.no-data {
  color: #f00;
  text-align: center;
}